<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🌸 Sakura</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Geist Mono', monospace;
      margin: 0;
      padding: 0;
      text-wrap: wrap;
    }
    html {
      padding: 4rem;
      color: #eee;
      background-color: #101010;
    }

    .flex {
      gap: 16px;
      display: flex;
      align-items: center;
    }

    .flex2 {
      gap: 32px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .title {
      font-size: 1.5rem;
    }
  </style>
</head>
<body>
  <div class="flex">
  <img  src="/linear/sakuraaa?size=30?rounded=1000?text=SK" alt=""> 
  <p class="title">sakura</p>
  </div>
  <p style="margin: 1.5rem 0; color: #a3a3a3;">a beautiful, fast, easy to use and <a href="https://github.com/floraorg/sakura" style="color: #eee;">open source</a> avatar generation</a>
  <div class="flex2">
    <a href="/linear/linearr?text=LN" style="color: #eee;">linear</a>
    <a href="/linear/linearr?text=LN" style="color: #eee;">floral</a>
    <a href="/plain/plain?text=PL" style="color: #eee;">plain</a>
    <a href="/linear/linearr?text=LN" style="color: #eee;">aster</a>
    <a href="/linear/linearr?text=LN" style="color: #eee;">wave</a>
    <a href="/linear/linearr?text=LN" style="color: #eee;">spectra</a>
    <a href="/linear/linearr?text=LN" style="color: #eee;">grid</a>
  </div>
  <p style="margin: 3rem 0 0 0; color: #a3a3a3;">brought to you by the <a href="https://github.com/floraorg" style="color: #eee;">flora</a> team</a>
</body>
</html>